<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heaven7.vida.research">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".VidaTestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TestMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>
        <activity android:name=".drag.MainActivity"/>
        <activity android:name=".drag.DragActivity"/>
        <activity android:name=".drag.YoutubeActivity"/>

        <activity android:name=".TestAndroidSpringActivity"/>
        <activity android:name=".TestDampScrollView"/>
        <activity android:name=".sample.TestRoundViewActivity"/>
        <activity android:name=".sample.TestZoomDrawableActivity"/>
        <activity android:name=".sample.TestDiscViewActivity"/>
        <activity android:name=".sample.TestBaiduFaceActivity"/>

        <activity android:name=".sample.NativeSurfaceActivity"/>
        <activity android:name=".sample.TestRectProgresActivity"/>
    </application>

</manifest>